@font-face {
    font-family: "Pencil";
    src: url(../../assets/fonts/NanumPenScript-Regular.ttf) format("truetype");
}

.todo {
	padding: 56px 20px;
	min-height: 100%;
	width: 100%;
}

.todoItem {
	display: block;
	font-family: "Pencil";
	position: relative;
	padding-left: 10%;
	font-size: 28px;
	margin: 25px, 0px;
	padding-bottom: 5px;
	border-bottom: 1px solid #45c9f9;
}

.todoItem .name {
	display: inline-block;
	font-family: "Pencil";
	margin-right: 30px;
}

.todoItem .checkboxWrapper {
	display: inline-block;
	font-family: "Pencil";
	margin-right: 30px;

}

.todoItem .checkboxWrapper input{
	cursor: pointer;
}


.todoItem .removeButton {
	display: inline-block;
	font-family: "Pencil";
	cursor:pointer;
	
	
}

.todoItem:after {
	transition: 1s ease;
	content:"";
	display: block;
	width: 0;
	position: absolute;
	left: 0;
	border-top:1px solid gray;
	top:15px;
}
.todoItem.completed:after {
	width:100%;
}

.todoListWrapper {
	background: #f5ec7f;
    width: 90%;
    padding: 10px;
    margin: auto;
    border: 2px solid #acacac;
	box-shadow: 0px 0px 5px 3px rgba(181,179,181,1);
	border-top:40px solid #443F33;
	position: relative;
	min-height: 1500px;
}

.todoListWrapper:before {
	content:"";
	position: absolute;
	top: 0px;
    left: 10%;
	bottom: 0;
	border-left: 1px solid #F80D07;
}
.listTitle {
	display:block;
	text-align: center;
	font-size:40px;
	font-family: "Pencil";
	border-bottom: 1px solid #45c9f9;
    padding-bottom: 30px;
    margin-bottom: 10px;

}

.formWrapper {
	display: block;
	text-align:left;
	width:90%;
	margin:auto;
	margin-bottom:20px;

}